/* coverpage*/
*{
    margin:0;
    overflow: hidden;
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}
.coverPage{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/coverImg.jpg);
    background-image: center;
    background-size: cover;
    position: relative;

}
.endPage{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/U\ of\ I.jpg);
    background-image: center;
    background-size:auto;
    position: relative;
    background-repeat: repeat;

}
/* 调整home的位置*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex:1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
}

/* home的属性*/
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 28px;
}
a {
    color: black;
    text-decoration: none;
}
/*加下滑过度线*/
.nav-links ul li::after{
    content: "";
    width: 0%;;
    height:2px;
    background:#f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}
/*主页box的属性*/
.text-box{
    width:90%;
    color:#fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color:#fff;
}



/*------------------------------------------------------------*/
.chartpage{
    min-height: 100vh;
    width: 100%;
    background-image: center;
    background-size: cover;
    position: relative;
    font-size: 28px;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.chartpageDiv{
    flex:1;
    text-align: center;
}
.chartpageDiv ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position: relative;
    
}



/*加下滑过度线*/
.chartpageDiv ul li::after{
    content: "";
    width: 0%;;
    height:2px;
    background:#f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.chartpageDiv ul li:hover::after{
    width:100%;
}









/*------------------------------------------------*/





.hero-btn {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: relative;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background:#f44336;
    transition: 1.5s;
    
}

.select-btn {
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: relative;
    position: relative;
    cursor: pointer;
}
.select-btn:hover{
    border: 1px solid #f44336;
    background:#f44336;
    transition: 1.5s;
    
}
.reset-btn {
    display: inline-block;
    text-decoration: none;
    color:black;
    border: 0px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: relative;
    position: relative;
    cursor: pointer;
}
.reset-btn:hover{
    border: 1px solid;
    transition: 1.5s;
    
}
/*setting px for phone screen
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}
*/
/*---------------MAP WORLD PAGE-----------------------*/
.MapPage{
    width: 90%;
    margin:auto;
    text-align:center;
    padding-top: 100px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.Course-col{
    flex-basis: auto;
    border-radius: 10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    width: 25%;
    height: auto;
}
/*-----------------------------tem*/

.mapDiv{
    background: transparent;
    flex-basis: auto;
    border-radius: 10px;
    margin-bottom:5%;
    padding:20px 12px;
    width: 15%;
    height: auto;
    transition:0.5s;
}
.mapDiv:hover{
    background: rgba(226, 15, 0, 0.692);
}
.mapDiv h3{
    width:100%;
    font-weight:500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left:50%;
    opacity: 0;
    transition:0.5s;
}

.mapDiv:hover h3{
    bottom:49%;
    opacity:1;
}


h3{
    text-align:center;
    font-weight:600;
    margin: 10px 0;
}

.Course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,2);
}

/*-------------pageThree--------------*/

.pageThree{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;

}

.pageThree-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.pageThree-col img{
    width: 100%;
    height:100%;

}
/*内部颜色*/
.layer{
    background: transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width:100%;
    font-weight:500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    opacity: 0;
    transition:0.5s;
}

.layer:hover h3{
    bottom:49%;
    opacity:1;
}

/*----------------------------------charts selection-----------------------*/
.chartsselection{
    margin:100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/banner2.jpg);

    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0;
}

.chartsselection h1{
    color: #fff;
    margin-bottom:20px;
    padding: 10px 30px 10px 10px;
}

/*----------------------------------charts selection-----------------------*/


/*---------------footer-----------------*/
.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top:20px;
    font-weight: 600;
}

.icons .fas{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/*---------------------------function()------------------------------*/

.bgColor {
    fill:darkblue;
}
.drawCountry{
    stroke: black;
    stroke-width: 0.01px;
}

.drawCountry:hover{
    cursor: pointer;
    fill: rgba(238, 17, 17, 0.699);
}

.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.axisStyle {
  font-size: 18px;
  font-weight: bold;
}
.axisLabelStyle{
  font-size: 38px;
  text-anchor: middle;
  font-weight: bold;
}
.chartText{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
.chartText2{
  font-size: 28px;
  font-weight: bold;

}
.chartText{
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}